* { /* configuração global */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Montserrat", sans-serif;
    color: #404040;
    /* flex container */
    display: flex;
    height: 100vh;
    background-color: brown;
    justify-content: center;
    align-items: center;
    background-image: url(imagen/image-cache.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 20px;
}

form {
    /* flex child */
    background-color: white;
    padding: 40px 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    font-size: 24px;
}

button {
    padding: 10px;
    align-self: center;
    width: 210px;
    border-radius: 30px;
    background-image: linear-gradient(#256a82,#3393c1);
    border-right-width: 4px;
    border-bottom-width: 4px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

input {
    padding: 10px 20px;
    border-radius: 10;
    border: none;
    background-color: #f1f1f1;
}

a {
    color: #009dff;
}

.barra-horizontal {
    background-color: #f87842;
    height: 5px;
    width: 210px;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Lembrar-me {
    display: flex;
    gap: 5px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.esqueceu-senha {
    text-align: center;
}